In [3]:
!pip install google-search-results

Collecting google-search-results
  Downloading google_search_results-2.4.1.tar.gz (11 kB)
Requirement already satisfied: requests in c:\users\muham\anaconda3\lib\site-packages (from google-search-results) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\muham\anaconda3\lib\site-packages (from requests->google-search-results) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\muham\anaconda3\lib\site-packages (from requests->google-search-results) (2022.5.18.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\muham\anaconda3\lib\site-packages (from requests->google-search-results) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\muham\anaconda3\lib\site-packages (from requests->google-search-results) (1.26.4)
Building wheels for collected packages: google-search-results
  Building wheel for google-search-results (setup.py): started
  Building wheel for google-search-results (setup.py): finished with status 'done'
  Created wheel for google-search-results: filename=google_search_results-2.4.1-py3-none-any.whl size=25790 sha256=d1eea42bd9d171b5cc0c5da0be67bd62650dd2c55fa02b9a6e044aea28f96a30
  Stored in directory: c:\users\muham\appdata\local\pip\cache\wheels\ea\58\9e\3d89ebff948ef9ce0a6e056a8279c1f93c76993387766f8387
Successfully built google-search-results
Installing collected packages: google-search-results
Successfully installed google-search-results-2.4.1

## Here i used serpapi Library it's a library to scrape Google engines with python, the code below describe how i applied the task using this library 
## Note : you have to sign in the library website to get your private key : https://serpapi.com/

In [9]:
## Code to provide searching by keyword : data analyst
from serpapi import GoogleSearch

params = {
  "engine": "google_jobs",
  "q": "data analyst",
  "google_domain": "google.com",
  "location": "Florida, United States",
  "hl": "en",
  "gl": "us",
  "joblink": "https://www.google.com/search?q=google+jobs+data+analyst+florida&sxsrf=ALiCzsY8gEnV7Whr418uakqQ1r7_mo8d4w:1654660845165&ei=7R6gYoDYCYzma_fxktAK&uact=5&oq=google+jobs+data+analyst+florida&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEB4QFhAdOgcIIxCwAxAnOgcIABBHELADOgoIABBHELADEMkDOgcIABCwAxBDOgQIABBDOgUIABCABDoICAAQgAQQyQM6BQgAEJECOgYIABAeEBY6CQgAEB4QyQMQFjoICAAQHhAWEAo6BQghEKABOgcIIRAKEKABSgQIQRgASgQIRhgAUB1Ygh5goB9oAXABeACAAZMBiAH6D5IBBDAuMTeYAQCgAQHIAQrAAQE&sclient=gws-wiz&ibp=htl;jobs&sa=X&ved=2ahUKEwjt_6_D_Jz4AhVlVeUKHRs-CLMQutcGKAF6BAgEEAY#htivrt=jobs&htidocid=s_jdZEaa_okAAAAAAAAAAA%3D%3D&fpstate=tldetail",
  "api_key": "secret_api_key" # you have to put your private key here to work 
}

search = GoogleSearch(params)
results = search.get_dict()

https://serpapi.com/search
Job results

In [ ]:
## Code to provide searching by keyword : data analytics
from serpapi import GoogleSearch

params = {
  "engine": "google_jobs",
  "q": "data analytics",
  "google_domain": "google.com",
  "location": "Florida, United States",
  "hl": "en",
  "gl": "us",
  "joblink": "https://www.google.com/search?q=google+jobs+data+analyst+florida&sxsrf=ALiCzsY8gEnV7Whr418uakqQ1r7_mo8d4w:1654660845165&ei=7R6gYoDYCYzma_fxktAK&uact=5&oq=google+jobs+data+analyst+florida&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEB4QFhAdOgcIIxCwAxAnOgcIABBHELADOgoIABBHELADEMkDOgcIABCwAxBDOgQIABBDOgUIABCABDoICAAQgAQQyQM6BQgAEJECOgYIABAeEBY6CQgAEB4QyQMQFjoICAAQHhAWEAo6BQghEKABOgcIIRAKEKABSgQIQRgASgQIRhgAUB1Ygh5goB9oAXABeACAAZMBiAH6D5IBBDAuMTeYAQCgAQHIAQrAAQE&sclient=gws-wiz&ibp=htl;jobs&sa=X&ved=2ahUKEwjt_6_D_Jz4AhVlVeUKHRs-CLMQutcGKAF6BAgEEAY#htivrt=jobs&htidocid=s_jdZEaa_okAAAAAAAAAAA%3D%3D&fpstate=tldetail",
  "api_key": "secret_api_key"
}

search = GoogleSearch(params)
results = search.get_dict()

In [42]:
#here i convert the json file to csv then import the file for the data analyst keyword
import pandas as pd
df = pd.read_csv('A:/Upwork/result_analyst.csv')
df

,title,company_name,location,via,description,extensions/0,extensions/1,extensions/2,detected_extensions/posted_at,detected_extensions/schedule_type,job_id,extensions/3,extensions/4,thumbnail
0,PTS Data Analyst,Citi,"Orange Park, FL",via CBS4Indy Jobs,Description:\n\nOur dynamic team makes a big d...,9 hours ago,Full-time,No degree mentioned,9 hours ago,Full-time,eyJqb2JfdGl0bGUiOiJQVFMgRGF0YSBBbmFseXN0IiwiaH...,NaN,NaN,NaN
1,Quality Data Analyst,ADMA Biologics,"Boca Raton, FL",via FOX46 Jobs,ADMA Biologics is a biopharmaceutical company ...,10 hours ago,Full-time,Health insurance,10 hours ago,Full-time,eyJqb2JfdGl0bGUiOiJRdWFsaXR5IERhdGEgQW5hbHlzdC...,Dental insurance,Paid time off,NaN
2,ServiceNow Data Analyst,Hays,"Orlando, FL",via LinkedIn,"ServiceNow Data Analyst – Contract – Orlando, ...",1 day ago,Full-time,No degree mentioned,1 day ago,Full-time,eyJqb2JfdGl0bGUiOiJTZXJ2aWNlTm93IERhdGEgQW5hbH...,Health insurance,Dental insurance,https://encrypted-tbn0.gstatic.com/images?q=tb...
3,Staff Mission Systems Data Analyst,Northrop Grumman,"Melbourne, FL",via CBS4Indy Jobs,Requisition ID: R\nCategory: Engineering\nLoca...,18 hours ago,Full-time,Health insurance,18 hours ago,Full-time,eyJqb2JfdGl0bGUiOiJTdGFmZiBNaXNzaW9uIFN5c3RlbX...,Dental insurance,Paid time off,NaN
4,Data Analyst,"Disney Parks,Parks, Experiences and Products","Kissimmee, FL",via Disney Careers,"From toys to apparel, books to games, and much...",26 days ago,Full-time,Health insurance,26 days ago,Full-time,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,NaN,NaN,https://encrypted-tbn0.gstatic.com/images?q=tb...
5,Senior Data Analyst - Server Patching,Bank of America,"Jacksonville, FL",via Bank Of America Careers,Job Description:\n\nPosition Summary...\n\nThe...,1 day ago,Full-time,No degree mentioned,1 day ago,Full-time,eyJqb2JfdGl0bGUiOiJTZW5pb3IgRGF0YSBBbmFseXN0IC...,NaN,NaN,https://encrypted-tbn0.gstatic.com/images?q=tb...
6,Senior Data Analyst,Avalon Healthcare Solutions,"Tampa, FL",via WKRG Jobs,About the Company:\n\nAvalon Healthcare Soluti...,22 hours ago,Full-time,NaN,22 hours ago,Full-time,eyJqb2JfdGl0bGUiOiJTZW5pb3IgRGF0YSBBbmFseXN0Ii...,NaN,NaN,NaN
7,Report writer,The Thor Group,"Tampa, FL",via Talent.com,Are you looking for a dynamic role with a lead...,1 day ago,Full-time,No degree mentioned,1 day ago,Full-time,eyJqb2JfdGl0bGUiOiJSZXBvcnQgd3JpdGVyIiwiaHRpZG...,Health insurance,Dental insurance,NaN
8,"Data Analyst, Graduate Business",University of Miami,"Coral Gables, FL",via LinkedIn,Current Employees:\n\nIf you are a current Sta...,1 day ago,Full-time,NaN,1 day ago,Full-time,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QsIEdyYWR1YX...,NaN,NaN,https://encrypted-tbn0.gstatic.com/images?q=tb...
9,Data Analyst III,Sunshine State Health Plan,"Orlando, FL (+1 other)",via Centene - Centene Corporation,Position Purpose:\nResponsible for analytic da...,7 days ago,Full-time,Health insurance,7 days ago,Full-time,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgSUlJIiwiaH...,Paid time off,NaN,https://encrypted-tbn0.gstatic.com/images?q=tb...

In [43]:
df.columns

Index(['title', 'company_name', 'location', 'via', 'description',
       'extensions/0', 'extensions/1', 'extensions/2',
       'detected_extensions/posted_at', 'detected_extensions/schedule_type',
       'job_id', 'extensions/3', 'extensions/4', 'thumbnail'],
      dtype='object')

In [44]:
#here i convert the json file to csv then import the file  for the data analytics keyword

df1 = pd.read_csv('A:/Upwork/result_analytics.csv')
df1

,title,company_name,location,via,description,thumbnail,extensions/0,extensions/1,extensions/2,extensions/3,extensions/4,detected_extensions/posted_at,detected_extensions/schedule_type,job_id
0,Manager Data Analytics 2 (Data Strategy & Anal...,Northrop Grumman,"Melbourne, FL",via FOX4KC Jobs,"At Northrop Grumman, our employees have incred...",https://encrypted-tbn0.gstatic.com/images?q=tb...,6 days ago,Full-time,Health insurance,Dental insurance,Paid time off,6 days ago,Full-time,eyJqb2JfdGl0bGUiOiJNYW5hZ2VyIERhdGEgQW5hbHl0aW...
1,Data Analytics Analyst and Developer,Citi,"Fleming Island, FL",via CBS4Indy Jobs,The Data Analytics Lead Analyst is a strategic...,NaN,2 days ago,Full-time,NaN,NaN,NaN,2 days ago,Full-time,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5dGljcyBBbmFseX...
2,Data Analytics Analyst and Developer,Citi,"Middleburg, FL",via WHNT Jobs,The Data Analytics Lead Analyst is a strategic...,NaN,2 days ago,Full-time,NaN,NaN,NaN,2 days ago,Full-time,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5dGljcyBBbmFseX...
3,Data Analyst III,Sunshine State Health Plan,"Tampa, FL (+1 other)",via Centene - Centene Corporation,You could be the one who changes everything fo...,https://encrypted-tbn0.gstatic.com/images?q=tb...,7 days ago,Full-time,Health insurance,Paid time off,NaN,7 days ago,Full-time,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgSUlJIiwiaH...
4,Data Analytics Analyst and Developer,Citi,"Yulee, FL",via WKRG Jobs,The Data Analytics Lead Analyst is a strategic...,NaN,9 days ago,Full-time,NaN,NaN,NaN,9 days ago,Full-time,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5dGljcyBBbmFseX...
5,"VP, AML KYC - High Risk Account Classification...",Citi,"Ruskin, FL",via MYFOX8 Jobs,The Data Science Lead Analyst is a strategic p...,NaN,2 days ago,Full-time,NaN,NaN,NaN,2 days ago,Full-time,eyJqb2JfdGl0bGUiOiJWUCwgQU1MIEtZQyAtIEhpZ2ggUm...
6,Advanced Data Analyst,EA SPORTS,"Orlando, FL",via LinkedIn,As an Advanced Data Analyst you will focus on ...,https://encrypted-tbn0.gstatic.com/images?q=tb...,4 days ago,Full-time,No degree mentioned,NaN,NaN,4 days ago,Full-time,eyJqb2JfdGl0bGUiOiJBZHZhbmNlZCBEYXRhIEFuYWx5c3...
7,Data Analyst II- Remote in FL,Sunshine State Health Plan,"Plantation, FL",via Centene - Centene Corporation,You could be the one who changes everything fo...,https://encrypted-tbn0.gstatic.com/images?q=tb...,Full-time,Health insurance,Paid time off,NaN,NaN,NaN,Full-time,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgSUktIFJlbW...
8,Operational Risk Group Manager - Data Analytic...,Citi,"Middleburg, FL",via FOX59 Jobs,The Operational Risk Grp Manager is accountabl...,NaN,2 days ago,Full-time,NaN,NaN,NaN,2 days ago,Full-time,eyJqb2JfdGl0bGUiOiJPcGVyYXRpb25hbCBSaXNrIEdyb3...
9,Deal Analytics - Senior Associate,PwC,"Tampa, FL",via FOX46 Jobs,A career in our Deals Data and Analytics pract...,https://encrypted-tbn0.gstatic.com/images?q=tb...,10 hours ago,Full-time,NaN,NaN,NaN,10 hours ago,Full-time,eyJqb2JfdGl0bGUiOiJEZWFsIEFuYWx5dGljcyAtIFNlbm...

In [45]:
df1.columns

Index(['title', 'company_name', 'location', 'via', 'description', 'thumbnail',
       'extensions/0', 'extensions/1', 'extensions/2', 'extensions/3',
       'extensions/4', 'detected_extensions/posted_at',
       'detected_extensions/schedule_type', 'job_id'],
      dtype='object')

In [46]:
# Here i merged the two tables 
all_data = pd.concat([df,df1])
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 9
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   title                              20 non-null     object
 1   company_name                       20 non-null     object
 2   location                           20 non-null     object
 3   via                                20 non-null     object
 4   description                        20 non-null     object
 5   extensions/0                       20 non-null     object
 6   extensions/1                       20 non-null     object
 7   extensions/2                       12 non-null     object
 8   detected_extensions/posted_at      19 non-null     object
 9   detected_extensions/schedule_type  20 non-null     object
 10  job_id                             20 non-null     object
 11  extensions/3                       7 non-null      object
 12  extensions/4                       5 non-null      object
 13  thumbnail                          10 non-null     object
dtypes: object(14)
memory usage: 2.3+ KB

In [47]:
# clean the data 
all_data=all_data.drop(['extensions/0','extensions/1','extensions/2','job_id','thumbnail'], axis=1)

In [48]:
all_data.head()

,title,company_name,location,via,description,detected_extensions/posted_at,detected_extensions/schedule_type,extensions/3,extensions/4
0,PTS Data Analyst,Citi,"Orange Park, FL",via CBS4Indy Jobs,Description:\n\nOur dynamic team makes a big d...,9 hours ago,Full-time,NaN,NaN
1,Quality Data Analyst,ADMA Biologics,"Boca Raton, FL",via FOX46 Jobs,ADMA Biologics is a biopharmaceutical company ...,10 hours ago,Full-time,Dental insurance,Paid time off
2,ServiceNow Data Analyst,Hays,"Orlando, FL",via LinkedIn,"ServiceNow Data Analyst – Contract – Orlando, ...",1 day ago,Full-time,Health insurance,Dental insurance
3,Staff Mission Systems Data Analyst,Northrop Grumman,"Melbourne, FL",via CBS4Indy Jobs,Requisition ID: R\nCategory: Engineering\nLoca...,18 hours ago,Full-time,Dental insurance,Paid time off
4,Data Analyst,"Disney Parks,Parks, Experiences and Products","Kissimmee, FL",via Disney Careers,"From toys to apparel, books to games, and much...",26 days ago,Full-time,NaN,NaN

In [49]:
# rename the columns 
all_data.rename(columns = {'detected_extensions/posted_at':'time_job_posted', 'detected_extensions/schedule_type':'job_type','extensions/3':'insurance_or_paid_time_off','extensions/4':'insurance_or_paid_time_off1'}, inplace = True)

In [50]:
all_data.head()

,title,company_name,location,via,description,time_job_posted,job_type,insurance_or_paid_time_off,insurance_or_paid_time_off1
0,PTS Data Analyst,Citi,"Orange Park, FL",via CBS4Indy Jobs,Description:\n\nOur dynamic team makes a big d...,9 hours ago,Full-time,NaN,NaN
1,Quality Data Analyst,ADMA Biologics,"Boca Raton, FL",via FOX46 Jobs,ADMA Biologics is a biopharmaceutical company ...,10 hours ago,Full-time,Dental insurance,Paid time off
2,ServiceNow Data Analyst,Hays,"Orlando, FL",via LinkedIn,"ServiceNow Data Analyst – Contract – Orlando, ...",1 day ago,Full-time,Health insurance,Dental insurance
3,Staff Mission Systems Data Analyst,Northrop Grumman,"Melbourne, FL",via CBS4Indy Jobs,Requisition ID: R\nCategory: Engineering\nLoca...,18 hours ago,Full-time,Dental insurance,Paid time off
4,Data Analyst,"Disney Parks,Parks, Experiences and Products","Kissimmee, FL",via Disney Careers,"From toys to apparel, books to games, and much...",26 days ago,Full-time,NaN,NaN

In [51]:
# merging two columns into one
all_data["insurance_or_paid_time"] = all_data['insurance_or_paid_time_off1'].astype(str) +"-"+ all_data["insurance_or_paid_time_off"]
all_data.head()

,title,company_name,location,via,description,time_job_posted,job_type,insurance_or_paid_time_off,insurance_or_paid_time_off1,insurance_or_paid_time
0,PTS Data Analyst,Citi,"Orange Park, FL",via CBS4Indy Jobs,Description:\n\nOur dynamic team makes a big d...,9 hours ago,Full-time,NaN,NaN,NaN
1,Quality Data Analyst,ADMA Biologics,"Boca Raton, FL",via FOX46 Jobs,ADMA Biologics is a biopharmaceutical company ...,10 hours ago,Full-time,Dental insurance,Paid time off,Paid time off-Dental insurance
2,ServiceNow Data Analyst,Hays,"Orlando, FL",via LinkedIn,"ServiceNow Data Analyst – Contract – Orlando, ...",1 day ago,Full-time,Health insurance,Dental insurance,Dental insurance-Health insurance
3,Staff Mission Systems Data Analyst,Northrop Grumman,"Melbourne, FL",via CBS4Indy Jobs,Requisition ID: R\nCategory: Engineering\nLoca...,18 hours ago,Full-time,Dental insurance,Paid time off,Paid time off-Dental insurance
4,Data Analyst,"Disney Parks,Parks, Experiences and Products","Kissimmee, FL",via Disney Careers,"From toys to apparel, books to games, and much...",26 days ago,Full-time,NaN,NaN,NaN

In [52]:
# drop the two columns
all_data=all_data.drop(["insurance_or_paid_time_off1","insurance_or_paid_time_off"], axis=1)

In [53]:
all_data.head()

,title,company_name,location,via,description,time_job_posted,job_type,insurance_or_paid_time
0,PTS Data Analyst,Citi,"Orange Park, FL",via CBS4Indy Jobs,Description:\n\nOur dynamic team makes a big d...,9 hours ago,Full-time,NaN
1,Quality Data Analyst,ADMA Biologics,"Boca Raton, FL",via FOX46 Jobs,ADMA Biologics is a biopharmaceutical company ...,10 hours ago,Full-time,Paid time off-Dental insurance
2,ServiceNow Data Analyst,Hays,"Orlando, FL",via LinkedIn,"ServiceNow Data Analyst – Contract – Orlando, ...",1 day ago,Full-time,Dental insurance-Health insurance
3,Staff Mission Systems Data Analyst,Northrop Grumman,"Melbourne, FL",via CBS4Indy Jobs,Requisition ID: R\nCategory: Engineering\nLoca...,18 hours ago,Full-time,Paid time off-Dental insurance
4,Data Analyst,"Disney Parks,Parks, Experiences and Products","Kissimmee, FL",via Disney Careers,"From toys to apparel, books to games, and much...",26 days ago,Full-time,NaN

In [54]:
# replacing the Nan to Unknow in some columns
all_data['insurance_or_paid_time'].replace("NaN", "Unknown",regex=True)
# df['range'] = df['range'].str.replace(',','-')
all_data

,title,company_name,location,via,description,time_job_posted,job_type,insurance_or_paid_time
0,PTS Data Analyst,Citi,"Orange Park, FL",via CBS4Indy Jobs,Description:\n\nOur dynamic team makes a big d...,9 hours ago,Full-time,NaN
1,Quality Data Analyst,ADMA Biologics,"Boca Raton, FL",via FOX46 Jobs,ADMA Biologics is a biopharmaceutical company ...,10 hours ago,Full-time,Paid time off-Dental insurance
2,ServiceNow Data Analyst,Hays,"Orlando, FL",via LinkedIn,"ServiceNow Data Analyst – Contract – Orlando, ...",1 day ago,Full-time,Dental insurance-Health insurance
3,Staff Mission Systems Data Analyst,Northrop Grumman,"Melbourne, FL",via CBS4Indy Jobs,Requisition ID: R\nCategory: Engineering\nLoca...,18 hours ago,Full-time,Paid time off-Dental insurance
4,Data Analyst,"Disney Parks,Parks, Experiences and Products","Kissimmee, FL",via Disney Careers,"From toys to apparel, books to games, and much...",26 days ago,Full-time,NaN
5,Senior Data Analyst - Server Patching,Bank of America,"Jacksonville, FL",via Bank Of America Careers,Job Description:\n\nPosition Summary...\n\nThe...,1 day ago,Full-time,NaN
6,Senior Data Analyst,Avalon Healthcare Solutions,"Tampa, FL",via WKRG Jobs,About the Company:\n\nAvalon Healthcare Soluti...,22 hours ago,Full-time,NaN
7,Report writer,The Thor Group,"Tampa, FL",via Talent.com,Are you looking for a dynamic role with a lead...,1 day ago,Full-time,Dental insurance-Health insurance
8,"Data Analyst, Graduate Business",University of Miami,"Coral Gables, FL",via LinkedIn,Current Employees:\n\nIf you are a current Sta...,1 day ago,Full-time,NaN
9,Data Analyst III,Sunshine State Health Plan,"Orlando, FL (+1 other)",via Centene - Centene Corporation,Position Purpose:\nResponsible for analytic da...,7 days ago,Full-time,nan-Paid time off
0,Manager Data Analytics 2 (Data Strategy & Anal...,Northrop Grumman,"Melbourne, FL",via FOX4KC Jobs,"At Northrop Grumman, our employees have incred...",6 days ago,Full-time,Paid time off-Dental insurance
1,Data Analytics Analyst and Developer,Citi,"Fleming Island, FL",via CBS4Indy Jobs,The Data Analytics Lead Analyst is a strategic...,2 days ago,Full-time,NaN
2,Data Analytics Analyst and Developer,Citi,"Middleburg, FL",via WHNT Jobs,The Data Analytics Lead Analyst is a strategic...,2 days ago,Full-time,NaN
3,Data Analyst III,Sunshine State Health Plan,"Tampa, FL (+1 other)",via Centene - Centene Corporation,You could be the one who changes everything fo...,7 days ago,Full-time,nan-Paid time off
4,Data Analytics Analyst and Developer,Citi,"Yulee, FL",via WKRG Jobs,The Data Analytics Lead Analyst is a strategic...,9 days ago,Full-time,NaN
5,"VP, AML KYC - High Risk Account Classification...",Citi,"Ruskin, FL",via MYFOX8 Jobs,The Data Science Lead Analyst is a strategic p...,2 days ago,Full-time,NaN
6,Advanced Data Analyst,EA SPORTS,"Orlando, FL",via LinkedIn,As an Advanced Data Analyst you will focus on ...,4 days ago,Full-time,NaN
7,Data Analyst II- Remote in FL,Sunshine State Health Plan,"Plantation, FL",via Centene - Centene Corporation,You could be the one who changes everything fo...,NaN,Full-time,NaN
8,Operational Risk Group Manager - Data Analytic...,Citi,"Middleburg, FL",via FOX59 Jobs,The Operational Risk Grp Manager is accountabl...,2 days ago,Full-time,NaN
9,Deal Analytics - Senior Associate,PwC,"Tampa, FL",via FOX46 Jobs,A career in our Deals Data and Analytics pract...,10 hours ago,Full-time,NaN

In [40]:
#convert the dataframe into csv file 
all_data.to_csv (r'A:/Upwork/export_dataframe.csv', index = False, header=True)

### Thanks for hiring me, looking for more work with you in future